/* make display width unaffected by scrollbar presence */
body {
  width: 100vw;
  overflow-x: hidden;
}

.header {
  font-size: 1.5em;
  color: #fff;
  background-color: #343a40;
  padding: 1em 1.5em;
  margin: 0;
  z-index: 2;
}

html {
  height: 100%;
}

body {
  background: #efefef;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.list {
  font-family: monospace;
  font-size: 1.2em;
  padding: 1em 2em;
  background: #bfbfbf;
  height: 100%;
}

#body {
  display: flex;
  flex: 1;
}

.line {
  height: 100%;
  width: 1px;
  background: black
}

.has-children, .repo {
  cursor: pointer;
}

.repo:hover {
  color: darkslateblue;
  text-decoration: underline;
  background: #b7b7b7;
}

.has-children:hover {
  background: #b7b7b7;
}

.has-children::before {
  content: "+";
}

.has-children.expanded::before {
  content: "-";
}

.diff-modal {
  position: absolute;
  z-index: 1;
  tab-index: -1;
  border-radius: 5px;
  max-width: 100vw;
  white-space: nowrap;

  font-family: sans-serif;
}

.diff-title {
  font-weight: bold;
  text-align: center;
  padding-bottom: 0.2em;
  background: #bfbfbf;
  border-radius: 5px 5px 0 0;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.diff-body {
  background: #d5d5d5;
  border-radius: 0 0 5px 5px;
  padding: 0.8em;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.diff {
  cursor: default;
  padding: 0.2em;
  border-radius: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.diff:before {
  content: " - ";
}

.diff:hover {
  background: #b9b9b9;
}

.diff-hide {
  font-size: 0.8em;
}

.diff-hide:hover {
  background: #878787;
  cursor: pointer;
  border-radius: 5px;
}

svg {
  transform-origin: top left;
}

g.edge {
  cursor: pointer;
}

g.edge:hover > polygon {
  stroke-width: 2;
}

g.edge:hover > path {
  stroke-dasharray: 5, 1;
  stroke-width: 2;
}

g.node > text {
  font-size: 0.7em;
  font-family: sans-serif;
}

.non-default {
  display: none;
}

.unselectable {
  user-select: none;
}

.special {
  text-decoration: underline dotted;
  font-family: monospace;
  user-select: all;
  /*font-size: 0.9em;*/
  /*background: #cccccc;*/
  color: #343a40;
}

.timestamp {
  text-decoration: underline dotted;
  font-size: 0.9em;
  font-family: monospace;
  padding-left: 1em;
}

.newline, .null {
  color: #813d0c;
  font-weight: bolder;
}
