<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>My Blog | Admin panel</title>

  <style>
    .article{
      margin: 5px;
      border-style: solid;
      border-width: 2px;
    }
    .control {
      float: right;
    }
    .wrapper{
      display: flex;
      justify-content: center;
    }
    .articles{
      width: 60%;
    }
    .text{
      word-wrap: break-word;
    }



  </style>
</head>

<body>
<a href="/" style="{float: left}">Home</a>
<h3><a href="create/" style="float: left">Create new article</a></h3>

<div class="wrapper">
  <div class="articles">
    {{#.}}
    <div class="article">
      <div class="control">
        <a href="/edit/{{key}}">Edit</a>
        <a href="/delete/{{key}}">Delete</a>
      </div>
      <h4 class="text">{{value.title}}</h4>
      <p class="text">{{value.text}}</p>
    </div>
    {{/.}}
  </div>
</div>

</body>
</html>
