/* make display width unaffected by scrollbar presence */
body {
  width: 100vw;
  overflow-x: hidden;
}

.like, .dislike, .rating {
  padding: 0 5px;
  color: black;
  font-size: 0.8em;
  font-family: monospace;

  transition: color .15s ease-in-out, background-color .15s ease-in-out;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.like, .dislike {
  cursor: pointer;
}

.like:hover, .liked > .like {
  color: red;
}

.dislike:hover, .disliked > .dislike {
  color: blue;
}

i.fa {
  pointer-events: none;
}

.multiline {
  white-space: pre-line;
}

@keyframes yellowfade {
  from {
    background: rgb(255, 255, 200);
  }
  to {
    background: transparent;
  }
}

.target-fade {
  animation: yellowfade 0.7s;
}

.link-like:hover {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pointer {
  cursor: pointer;
}

.clickthrough {
  pointer-events: none;
}

.monospace {
  font-family: monospace;
}

input[type="checkbox"].cross {
  position: relative;
  -webkit-appearance: initial;
  appearance: initial;
  min-width: 20px;
  min-height: 20px;
  border: 1px solid gray;
  background: lightgray;
  border-radius: 5px;
}

input[type="checkbox"].cross:checked:after {
  content: "×";
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.attachment-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.attachment-modal .attachment-modal-content {
  max-width: 100%;
  position: absolute;

  margin: auto;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: block;
  animation: zoom 0.1s;
}

.attachment-modal.overflow .attachment-modal-content {
  margin-top: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

.btn-sm {
  line-height: 1;
}

.deleted, .deleted * {
  color: #89939b;
  transition: color .3s ease-in-out;
}

.deleted:hover {
  color: black;
}

.threadline {
  width: 0.9em;
}

.threadline:hover .threadline-line, .threadline-line:hover {
  background: black;
}

.threadline-line {
  width: 2px;
  height: 100%;
  background: #89939b;
  transition: background .15s ease-in-out;
}

.custom-file, .custom-file-input, .custom-file-label, .custom-file-label::after {
  line-height: 1;
  height: initial;
}
