
.like, .dislike, .rating {
  padding: 0 5px;
  color: #fff;
  background: #6c757d;
  font-size: 0.8em;
  height: fit-content;
  cursor: default;

  transition: color .15s ease-in-out, background-color .15s ease-in-out;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.like, .dislike {
  cursor: pointer;
}

.like {
  border-radius: .2rem 0 0 .2rem;
}

.dislike {
  border-radius: 0 .2rem .2rem 0;
}

.like:hover, .liked > .like, .dislike:hover, .disliked > .dislike {
  background: #5a6268;
}

.like:hover, .liked > .like {
  color: red;
}

.dislike:hover, .disliked > .dislike {
  color: blue;
}

i.fa {
  pointer-events: none;
}

.multiline {
  white-space: pre-line;
}

@keyframes yellowfade {
  from {
    background: rgb(255, 255, 200);
  }
  to {
    background: transparent;
  }
}

.target-fade {
  animation: yellowfade 0.5s;
}

.link-like:hover {
  text-decoration: underline;
  color: blue;
}
