<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Poll tutorial</title>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 300px;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
</head>
<body>
<h2>New poll</h2>
<form method="post" action="/add">
  <table>
    <tr>
      <th>
        <label for="title">Title: </label>
        <input name="title" id="title"/>
      </th>
      <th>
        <label for="message">Message: </label>
        <input name="message" id="message"/>
      </th>
    </tr>

    <tr>
      <th>
        <label for="option1">Option1: </label>
        <input name="option1" id="option1"/>
      </th>
      <th>
        <label for="option2">Option2: </label>
        <input name="option2" id="option2"/>
      </th>
    </tr>
  </table>

  <button>Add</button>
</form>
</body>
</html>
