{{<base}}
    {{$content}}
        <div class="container">
            <div class="row my-3 ">
                <div class="col-sm-3 was-validated order-sm-1 mb-2">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="mt-2 col">About</div>
                                <div><div><div>
                                            {{#user.role.privileged}}
                                                <button class="btn btn-link col-auto mx-2 text-secondary"
                                                        type="button"
                                                        data-maxLength="1024"
                                                        data-edit-action="/owner/blog"
                                                        data-edit="#blog_description">edit
                                                </button>
                                            {{/user.role.privileged}}
                                </div></div></div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-text" id="blog_description" data-field="content" data-field="content" data-value="{{blog.description}}">
                                {{blog.description}}
                            </div>
                        </div>
                    </div>

                    {{#user.role.privileged}}
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="mt-2 col">Blog name</div>
                                <div><div><div>
                                        <button class="btn btn-link col-auto mx-2 text-secondary"
                                                type="button"
                                                data-maxLength="32"
                                                data-edit-action="/owner/blog"
                                                data-edit="#blog_name">edit
                                        </button>
                                </div></div></div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-text" id="blog_name" data-field="title" data-field="content" data-value="{{blog.title}}">
                                {{blog.title}}
                            </div>
                        </div>
                    </div>
                    {{/user.role.privileged}}
                </div>

                <div class="col-sm-9">
                    {{$mainContent}}{{/mainContent}}
                </div>
            </div>
        </div>
    {{/content}}
{{/base}}