
body {
  background: #eee;
}

.box {
  margin: 5px;
  padding: 5px;
  background: #ccc;
  border-radius: 5px;
  font-size: 0.9em;
  color: #333;
  width: fit-content;
}

#pubkeyBox {
  alignment: center;
  margin: 20px auto;
  display: table;
}

label {
  margin: 5px
}

#list {
  display: inline-block;
}

.entry {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.entry a {
  text-decoration: underline;
  color: #333333;
  margin: 4px 2px 2px;
}

.entry .file-panel {
  display: flex;
  justify-content: space-between;
}

.entry .encrypted {
  display: inline;
  padding: 2px;
  margin: 4px;
  border-radius: 3px;
  font-size: 0.6em;
  color: #fff;
  background: #333;
}

.entry .size {
  margin: 4px;
  text-align: right;
  width: fit-content;
}

.control {
  cursor: pointer;
  user-select: none;
  display: inline;
  padding: 2px;
  margin: 4px;
  border-radius: 3px;
  font-size: 0.7em;
  color: #fff;
  background: #333;
}

#404banner {
  text-align: center;
  margin-top: 25px
}

#knownPKsLabel {
  margin: 5px
}

.center {
  text-align: center;
}

#repos {
  display: inline-block;
}

#generate {
  margin: 3px;
}

.knownPK {
  cursor: pointer;
  width: 100%;
  display: flex;
  text-align: center;
  font-weight: bold;
  justify-content: space-between
}

.knownPK:hover {
  text-decoration: underline;
}

.wide-field {
  font-family: monospace;
  border-color: #eee;
  width: 1000px;
  font-size: 1em;
  text-align: center
}

#pubkeyLabel {
  margin: 5px;
  display: inline;
}

#pubkey {
  font-family: monospace;
  margin: 5px;
  display: inline;
}

.progress {
  display: flex;
}

.progress .border {
  width: 200px;
  height: 15px;
  margin: 5px;
  position: relative;
  border: 1px inset #333;
  border-radius: 5px;
}

.progress .bar {
  width: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #0b0;
}

.progress .percentage {
  margin-top: 1px;
  position: absolute;
  font-size: 0.7em;
  top: 0;
  text-align: center;
  width: 100%;
}

.progress .status {
  font-size: 0.9em;
  color: #333;
  margin: 5px;
}

#status {
  margin: 5px;
}

#folder {
  font-size: 0.9em;
  margin: 5px;
  padding: 1px 5px;
  color: #333;
  background: #cccccc;
  border-radius: 5px;
  border: 1px inset #333;
  width: fit-content;
  width: -moz-fit-content;
}

#upload-panel input[type=number] {
  width: 100px;
  text-align: right;
}

#prefix {
  margin: 2px;
  width: 150px;
}
