<div id="root-post" class="card"
     data-thread-id="{{thread.threadId}}">
    <div class="card-header py-1">
        {{>thread_title}}
    </div>
    <div class="card-body" style="padding: 0.25em calc(0.75em + 15px)">
        <div class="row mt-2">
            <div id="raw_content" class="d-none">{{content.raw}}</div>
            <div id="content_root"
                 class="text-wrap text-break content multiline m-0 px-1 {{#deletedBy}} deleted{{/deletedBy}}"
                 style="border: 1px solid transparent"
                 data-edit-src="#raw_content">{{{content.rendered}}}</div>
        </div>
        <!-- region post attachments -->
        {{#hasAttachments}}
            <div class="attachments d-none">
                <div class="row my-1">
                    <ul class="list-group col-auto">
                        {{#attachments.image}}
                            <li class="list-group-item list-group-item-action attachment-list-item text-truncate pointer small">
                                <div class="row mx-1 flex-nowrap align-items-center">
                                    <i class="col-auto w-auto fa fa-file-image"></i>
                                    <span class="col px-0 unselectable attachment-title">{{.}}</span>
                                    <span class="col-auto w-auto attachment-action trash">
                                        <i class="fa fa-trash"></i>
                                    </span>
                                </div>
                            </li>
                        {{/attachments.image}}
                        {{#attachments.video}}
                            <li class="list-group-item list-group-item-action attachment-list-item text-truncate pointer small">
                                <div class="row mx-1 flex-nowrap align-items-center">
                                    <i class="col-auto w-auto fa fa-file-video"></i>
                                    <span class="col px-0 unselectable attachment-title">{{.}}</span>
                                    <span class="col-auto w-auto attachment-action trash">
                                        <i class="fa fa-trash"></i>
                                    </span>
                                </div>
                            </li>
                        {{/attachments.video}}
                        {{#attachments.document}}
                            <li class="list-group-item list-group-item-action attachment-list-item text-truncate small">
                                <div class="row mx-1 flex-nowrap align-items-center">
                                    <i class="col-auto w-auto fa fa-file"></i>
                                    <span class="col px-0 unselectable attachment-title">{{.}}</span>
                                    <span class="col-auto w-auto attachment-action trash">
                                        <i class="fa fa-trash"></i>
                                    </span>
                                </div>
                            </li>
                        {{/attachments.document}}
                    </ul>
                </div>
            </div>
        {{/hasAttachments}}
        <!-- endregion -->
        <!-- region post controls -->
        {{#user}}
            <div class="row py-1 post-controls">
                {{#role.known}}
                    <div class="col-auto pl-1">
                        <div class="reply-button link-like text-secondary small unselectable">
                            reply
                        </div>
                    </div>
                {{/role.known}}
                {{#editable}}
                    <div class="col-auto pl-0">
                        <div class="edit-button link-like text-secondary small unselectable">
                            edit
                        </div>
                    </div>
                {{/editable}}
            </div>
        {{/user}}
        <!-- endregion -->
    </div>
</div>
