{{<base}}
    {{$content}}
        <div class="container">
            <div class="row flex-md-nowrap">
                {{#forum.description}}
                    <div class="col-md-3 order-md-2">
                        <div class="card mb-3">
                            <div class="card-body multiline">{{.}}</div>
                        </div>
                    </div>
                {{/forum.description}}
                <div class="col">
                    <div class="card">
                        <div class="card-header text-center font-weight-bold"></div>
                        <div class="card-body">
                            <div class="list-group">
                                {{#threads}}
                                    {{>thread_list_entry}}
                                {{/threads}}
                                {{#pages.tail}}
                                    {{#threads.any}}
                                        {{<thread_list_entry}}{{$classes}}invisible{{/classes}}{{/thread_list_entry}}
                                    {{/threads.any}}
                                {{/pages.tail}}
                            </div>
                            {{>pagination}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
{{/base}}
