<div class="list-group-item list-group-item-action {{$classes}}{{/classes}}">
    <div class="row">
        <div class="col position-static">
            <h4 class="text-wrap text-break" style="">{{title}}</h4>
            <p style="white-space: pre-wrap">{{{root.content.renderedPreview}}}</p>
            <a href="/{{threadId}}" class="stretched-link text-secondary">...read more</a>
            <span class="badge float-right">{{lastUpdate}}</span>
        </div>
    </div>
</div>
