target
.idea
node_modules
/examples/cube/db.properties
/examples/cube/test/*
bower_components
tutorials/uikernel-integration/src/main/resources/static/js/bundle.js
*.iml
*.project
.DS_Store
dependency-reduced-pom.xml
aggregation-db-examples/test
