.container {
    width: 70%;
    height: 90%;
    margin: auto;
    padding: 10px;
    display: flex;
}

.chat{
    text-align: center;
}

.graph{
    text-align: center;
}

#chat {
    overflow-y: scroll;
    height: 600px;
    width: 600px;
    resize: none;
    font-family: sans-serif; 
    font-size: 12px;  
    border-style: ridge;
}

#graphviz{
    overflow-y: scroll;
    height: 600px;
    width: 600px;
    resize: none;
    border-style: ridge;
}

#input, #node {
    width: 600px;
}
