<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <meta charset="UTF-8">
  <title>Global Videos</title>
  <style>
    .container {
      text-align: center;
    }

  </style>
</head>

<body>

<a href="/myChannel">My channel</a>

<div class="container">
  <h1>{{name}}</h1>
  <h3>{{description}}</h3>
  <div class="videos">
    <h2>Videos</h2>
    {{#videos}}
    <div>
      <a href=./{{key}}/>
        <img width="128" height="72" src="./{{key}}/thumbnail">
        <p>{{value.title}}</p>
      </a>
    </div>
    {{/videos}}
    <div>
      {{^videos}}
      <h3>No videos</h3>
      {{/videos}}
    </div>
  </div>
</div>

</body>

</html>
