<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <meta charset="UTF-8">
  <title>View video {{metadata.title}}</title>
</head>
<body>

<a href="../">Back To Channel</a>

<div>
  <video width="640" height="480" controls>
    <source src="watch">
  </video>
  <h3>{{metadata.title}}</h3>
  <h4>{{metadata.description}}</h4>
</div>
<div>
  <h3>Comments</h3>
  {{#comments}}
  <div id="{{key}}">
    {{#value}}
    <h3>Author: [{{author.authService}}] {{author.authString}}</h3>
    <h4>Content: {{content}}</h4>
    <h5>Commented on: {{timestamp}}</h5>
    {{/value}}
  </div>
  {{/comments}}

  {{^comments}}
  <h3>No comments yet</h3>
  {{/comments}}

  <form method="post" action="addComment">
    <input type="text" name="author" placeholder="Enter your name..."><br>
    <textarea name="content" cols="30" rows="10" placeholder="Enter a comment here..."></textarea><br>
    <input type="submit" value="Add comment">
  </form>
</div>
</body>
</html>
