{{<base}}
    {{$content}}
        <div class="container">
            <div class="card">
                <div class="card-header text-center font-weight-bold">Administration:</div>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-sm-6 btn-group-vertical">
                            <a href="/{{pubKey}}/admin/edit-forum" class="btn btn-block btn-outline-primary">Edit
                                forum</a>
                            <a href="/{{pubKey}}/admin/ip-bans" class="btn btn-block btn-outline-primary">IP bans</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
{{/base}}
