<div class="mt-2">
    <div class="custom-file col-3">
        <input type="file" accept="image/*" class="custom-file-input"
               id="image_attachment_{{postId}}" multiple
               name="image_attachment">
        <label class="custom-file-label text-truncate" for="image_attachment_{{postId}}">
            Attach images
        </label>
    </div>
    <div class="custom-file col-3">
        <input type="file" accept="video/mp4" class="custom-file-input"
               id="video_attachment_{{postId}}" multiple
               name="video_attachment">
        <label class="custom-file-label text-truncate" for="video_attachment_{{postId}}">
            Attach videos
        </label>
    </div>
    <div class="custom-file col-3">
        <input type="file" class="custom-file-input"
               id="document_attachment_{{postId}}" multiple
               name="document_attachment">
        <label class="custom-file-label text-truncate" for="document_attachment_{{postId}}">
            Attach documents
        </label>
    </div>
</div>
