<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css"
          integrity="sha384-Re/I8sla3AIFEoz6DrgkHWaLDSWKXaLOYm5yn3Gwmf/QhWS3/ajG7O2qr1zBmF3d" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">

    <title>Global Forum</title>
    {{$head}}{{/head}}
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-md navbar-light bg-light my-3">
        <a class="navbar-brand" href="/">{{forum.title}}{{^forum.title}}Global Forum{{/forum.title}}</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {{#user}}
                    {{#user.role.known}}
                        <li class="nav-item">
                            <a class="nav-link" href="/new">New thread</a>
                        </li>
                    {{/user.role.known}}
                    {{#user.role.privileged}}
                        <li class="nav-item">
                            <a class="nav-link text-success" href="/{{pubKey}}/admin">Administration</a>
                        </li>
                    {{/user.role.privileged}}
                {{/user}}
            </ul>
            <div class="row ml-auto mr-0">
                {{^user}}
                    {{^loginScreen}}
                        <a class="btn btn-outline-success"
                           href="{{appStoreUrl}}/oauth?redirectURI=http%3A//{{url.host}}/authorize%3Forigin=http%3A//{{url}}"
                           id="login_button">
                            Log In
                        </a>
                    {{/loginScreen}}
                {{/user}}
                {{#user}}
                    <span class="navbar-text mr-2" style="position: relative;">
                        Hello, <a class="stretched-link" href="/profile">{{user.name}}</a>
                    </span>
                    <form action="/logout" method="post">
                        <button class="btn btn-outline-success mx-2" type="submit">Log Out</button>
                    </form>
                {{/user}}
            </div>
        </div>
    </nav>
</div>
{{$content}}{{/content}}
<script src="/static/main.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"
        integrity="sha384-fYxN7HsDOBRo1wT/NSZ0LkoNlcXvpDpFy6WzB42LxuKAX7sBwgo7vuins+E1HCaw"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"
        integrity="sha384-97pmbvZb0qdIXSwrjd4JuG6+4TJhp4eL0totTka0FF1Bf2E42dPiSXsqq09yQxjD"
        crossorigin="anonymous"></script>
</body>
</html>
