<div id="image-modal" class="attachment-modal d-none" tabindex="-1" aria-hidden="true">
    <img src="" class="attachment-modal-content unselectable" alt="attached image" style="max-width: 100%">
</div>
