{{<base}}
    {{$content}}
        <div class="container">
            <h3 class="mb-3 text-center">Create new thread:</h3>
            <form action="/{{pubKey}}/new" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <input class="form-control form-control-lg" name="title" type="text" placeholder="Title">
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="content" placeholder="Content" rows="20"
                              data-post-button="#post_button"></textarea>
                </div>

                <div class="col text-center">
                    <div class="collapse" id="attachments">
                        <div class="m-3">
                            <div class="custom-file col-3">
                                <input type="file" accept="image/*" class="custom-file-input" id="image_attachment"
                                       multiple
                                       name="image_attachment">
                                <label class="custom-file-label text-truncate text-left" for="image_attachment">Attach
                                    images</label>
                            </div>
                            <div class="custom-file col-3">
                                <input type="file" accept="video/mp4" class="custom-file-input" id="video_attachment"
                                       multiple
                                       name="video_attachment">
                                <label class="custom-file-label text-truncate text-left" for="video_attachment">Attach
                                    videos</label>
                            </div>
                            <div class="custom-file col-3">
                                <input type="file" class="custom-file-input" id="document_attachment" multiple
                                       name="document_attachment">
                                <label class="custom-file-label text-truncate text-left" for="document_attachment">Attach
                                    documents</label>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-lg btn-outline-primary col-4" data-toggle="collapse"
                            data-target="#attachments">
                        attach
                    </button>
                    <button class="btn btn-lg btn-primary col-4" type="submit" id="post_button">Create</button>
                </div>
            </form>
        </div>
    {{/content}}
{{/base}}
