{{#deletedBy}}
    {{#deletedVisible}}
        {{>render_post_body_impl}}
    {{/deletedVisible}}
    {{^deletedVisible}}
        {{^children.isEmpty}}
                <div class="card no-gutters post" {{#inlineParent}}
                     data-inline-parent="#post_{{postId}}"{{/inlineParent}}>
                    <div class="card-body py-1 text-secondary">
                        &lt;deleted post&gt;
                    </div>
                </div>
        {{/children.isEmpty}}
    {{/deletedVisible}}
{{/deletedBy}}
{{^deletedBy}}
    {{>render_post_body_impl}}
{{/deletedBy}}
