<div class="card no-gutters" id="post_{{postId}}"
     {{#inlineParent}}data-inline-parent="#post_{{postId}}"{{/inlineParent}}>
    <div class="card-body py-1">
        <!-- region post header -->
        <div class="row my-1 align-items-center">
            <div class="col-auto pl-1 pr-2">
                <a href="/{{thread.threadId}}/{{postId}}{{^postId}}root{{/postId}}" class="text-secondary">
                    <i class="fa fa-link fa-sm"></i>
                </a>
            </div>
            <div class="col-auto">
                {{#author}}{{<avatar}}{{$classes}}row{{/classes}}{{$size}}24{{/size}}{{/avatar}}{{/author}}
            </div>
            <div class="col-auto px-2 font-weight-bold small">
                {{#user.role.privileged}}
                    {{#author}}
                        <a href="/profile/{{userId}}" class="text-dark">{{.}}</a>
                    {{/author}}
                {{/user.role.privileged}}
                {{^user.role.privileged}}
                    {{author}}
                {{/user.role.privileged}}
                {{^author}}<i>ghost</i>{{/author}}
            </div>
            {{#author.ban}}
                {{#user.role.privileged}}
                    <a href="/admin/user-ban/{{author.userId}}" class="badge badge-warning">banned</a>
                {{/user.role.privileged}}
                {{^user.role.privileged}}
                    <span class="badge badge-warning">banned</span>
                {{/user.role.privileged}}
            {{/author.ban}}
            <div class="col-auto pl-2 pr-0 small text-secondary monospace">
                {{initialTimestamp}}
            </div>
            {{#lastEditTimestamp}}
                <div class="col-auto monospace small unselectable pointer p-0" title="edited at: {{.}}">
                    *
                </div>
            {{/lastEditTimestamp}}
            <div class="col"></div>
            {{#deletedBy}}
                <div class="col-auto small px-0 mx-1">
                    deleted by: <b>{{.}}</b>
                </div>
            {{/deletedBy}}
            {{#user}}
                <div class="col-auto">
                    <div class="row {{#liked}} liked{{/liked}}{{#disliked}} disliked{{/disliked}}"
                         data-prefix="/{{thread.threadId}}/{{postId}}">
                        <div class="like"><i class="fa fa-angle-up"></i></div>
                        <div class="rating">{{likes}}</div>
                        <div class="dislike"><i class="fa fa-angle-down"></i></div>
                    </div>
                </div>
            {{/user}}
        </div>
        <!-- endregion -->
        <!-- region post content -->
        <div class="row">
            <div class="col">
                {{#inlineParent}}
                    <div class="row">
                        <div class="col-auto ml-n2 small font-weight-bold">
                            Replying to:&nbsp;
                            <span class="link-like stretched-link"
                                  data-post-reference="#post_{{postId}}">{{author}}</span>
                        </div>
                    </div>
                {{/inlineParent}}
                <div class="row text-wrap text-break">
                    <p id="content_{{postId}}" class="content multiline m-0 px-1 {{#deletedBy}} deleted{{/deletedBy}}"
                       style="border: 1px solid transparent">{{content}}</p>
                </div>
            </div>
        </div>
        <!-- endregion -->
        <!-- region post attachments -->
        {{#hasAttachments}}
            <div id="attachments_{{postId}}"{{#deletedBy}} class="deleted"{{/deletedBy}}>
                <div class="row my-1">
                    <ul class="list-group col-auto">
                        {{#attachments.image}}
                            <li class="list-group-item list-group-item-action text-truncate pointer small"
                                data-image-modal="/{{thread.threadId}}/{{postId}}/download/{{.}}?inline"
                                style="line-height: 1">
                                <div class="row clickthrough">
                                    <i class="col-1 px-2 fa fa-file-image clickthrough"></i>
                                    <span class="col px-2 align-self-center clickthrough">{{.}}</span>
                                    <a href="/{{thread.threadId}}/{{postId}}/download/{{.}}"
                                       class="col-auto px-2 align-self-center unselectable"
                                       style="pointer-events: auto">🠋</a>
                                </div>
                            </li>
                        {{/attachments.image}}
                        {{#attachments.video}}
                            <li class="list-group-item list-group-item-action text-truncate pointer small"
                                data-video-modal="/{{thread.threadId}}/{{postId}}/download/{{.}}">
                                <div class="row clickthrough">
                                    <i class="col-1 px-2 fa fa-file-video clickthrough"></i>
                                    <span class="col px-2 align-self-center clickthrough">{{.}}</span>
                                    <a href="/{{thread.threadId}}/{{postId}}/download/{{.}}"
                                       class="col-auto px-2 align-self-center unselectable"
                                       style="pointer-events: auto">🠋</a>
                                </div>
                            </li>
                        {{/attachments.video}}
                        {{#attachments.document}}
                            <li class="list-group-item list-group-item-action text-truncate small">
                                <div class="row">
                                    <i class="col-1 px-2 fa fa-file"></i>
                                    <span class="col px-2 align-self-center">{{.}}</span>
                                    <a href="/{{thread.threadId}}/{{postId}}/download/{{.}}"
                                       class="col-auto px-2 align-self-center unselectable stretched-link position-static">🠋</a>
                                </div>
                            </li>
                        {{/attachments.document}}
                    </ul>
                </div>
            </div>
        {{/hasAttachments}}
        <!-- endregion -->

        <!-- region edit_attachments -->
        <div id="edit_attachments_{{postId}}" class="d-none m-3">
            {{#hasAttachments}}
                <div class="row">
                    <h5>Attachments to delete:</h5>
                </div>
                <div class="row m-2">
                    <ul class="list-group col-auto">
                        {{#attachments.image}}
                            <label class="list-group-item list-group-item-action d-flex unselectable">
                                <span class="mr-1 text-truncate">{{.}}</span>
                                <input type="checkbox" class="cross align-self-center ml-auto">
                            </label>
                        {{/attachments.image}}
                        {{#attachments.video}}
                            <label class="list-group-item list-group-item-action d-flex unselectable">
                                <span class="mr-1 text-truncate">{{.}}</span>
                                <input type="checkbox" class="cross align-self-center ml-auto">
                            </label>
                        {{/attachments.video}}
                        {{#attachments.document}}
                            <label class="list-group-item list-group-item-action d-flex unselectable">
                                <span class="mr-3 text-truncate">{{.}}</span>
                                <input type="checkbox" class="cross align-self-center ml-auto">
                            </label>
                        {{/attachments.document}}
                    </ul>
                </div>
            {{/hasAttachments}}
            <div class="pt-3">
                <div id="edit_add_attachments_{{postId}}" class="collapse">
                    {{>attachment_panel}}
                </div>
            </div>
        </div>
        <!-- endregion -->

        <!-- region post controls -->
        <div class="row pb-1">
            {{^deletedBy}}
                {{#user}}
                    {{#role.known}}
                        <div class="col-auto pl-1">
                            <div class="reply-button link-like text-secondary small unselectable"
                                 data-post-id="{{postId}}"
                                 data-thread-id="{{thread.threadId}}">
                                reply
                            </div>
                        </div>
                    {{/role.known}}
                    {{#editable}}
                        <div class="col-auto pl-0">
                            <div class="dropdown">
                                <div class="link-like text-secondary small unselectable dropdown-toggle"
                                     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    change
                                </div>
                                <div class="dropdown-menu p-0" style="min-width: initial">
                                    <button class="dropdown-item px-2 edit-button small"
                                            data-post-id="{{postId}}"
                                            data-thread-id="{{thread.threadId}}">
                                        edit
                                    </button>
                                    <button class="dropdown-item px-2 small"
                                            data-post-id="{{postId}}"
                                            data-post-call="/{{thread.threadId}}/{{postId}}/delete">
                                        delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    {{/editable}}
                {{/user}}
            {{/deletedBy}}
            {{#deletedBy}}{{#editable}}
                <div class="col-auto pl-1">
                    <div class="link-like text-secondary small unselectable"
                         data-post-id="{{postId}}"
                         data-post-call="/{{thread.threadId}}/{{postId}}/restore">
                        restore
                    </div>
                </div>
            {{/editable}}{{/deletedBy}}
        </div>
        <!-- endregion -->
    </div>
</div>
