{{<base}}
    {{$content}}
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <div class="ml-3">{{thread.title}}</div>
                </div>
                <div class="card-body">
                    <div class="mb-3 ml-3 text-center">
                        <a class="text-secondary" href="/{{threadId}}">view the whole thread</a>
                    </div>
                    {{#post}}
                        {{>render_post}}
                    {{/post}}
                </div>
            </div>
        </div>
    {{/content}}
{{/base}}
