{{<base}}
    {{$content}}
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">
                        <a href="/{{pubKey}}/{{threadId}}">{{thread.title}}</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">{{post.id}}</li>
                </ol>
            </nav>
            {{#post}}
                {{>render_post}}
            {{/post}}
        </div>
    {{/content}}
{{/base}}
