{{<base}}
    {{$content}}
        <div class="container">
            <div class="card">
                <div class="card-header">
                    {{>thread_title}}
                </div>
                <div class="card-body">
                    {{#thread.root}}
                        {{>render_post}}
                    {{/thread.root}}
                </div>
            </div>
            {{>image_modal}}
            {{>video_modal}}
        </div>
    {{/content}}
{{/base}}
