{{<base}}
    {{$content}}
        <div class="container">
            <div class="row justify-content-center">
                <div class="card col-sm-6 px-0">
                    <div class="card-header text-center font-weight-bold">Users</div>
                    <div class="card-body">
                        <div class="list-group">
                            {{#users}}
                                {{>user_list_entry}}
                            {{/users}}
                            {{#pages.tail}}
                                {{#users.any}}
                                    {{<user_list_entry}}{{$classes}}invisible{{/classes}}{{/user_list_entry}}
                                {{/users.any}}
                            {{/pages.tail}}
                        </div>
                        {{>pagination}}
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
{{/base}}
