<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <meta charset="UTF-8">
  <title>View video {{metadata.title}}</title>
</head>
<body>

<a href="/myChannel">My channel</a>

<div>
  <video width="640" height="480" controls>
    <source src="/myChannel/{{videoId}}/watch/">
  </video>
  {{#metadata}}
  <h3>Edit metadata</h3>
  {{/metadata}}

  {{^metadata}}
  <h3>Add title to make video public</h3>
  {{/metadata}}

  <form method="post" action="/myChannel/{{videoId}}/update">
    <label for="title">Title:</label>
    <input id="title" type="text" name="title" value="{{metadata.title}}" required><br>
    <label for="description">Description:</label>
    <textarea id="description" name="description" cols="30" rows="10">{{metadata.description}}</textarea><br>
    <input type="submit" value="Update metadata">
  </form>

</div>

<div>
  <h3>Comments</h3>
  {{#comments}}
  <div id="{{key}}">
    {{#value}}
    <h3>Author: [{{author.authService}}] {{author.authString}}</h3>
    <h4>Content: {{content}}</h4>
    <h5>Commented on: {{timestamp}}</h5>
    {{/value}}
    <form action="/myChannel/{{videoId}}/deleteComment" method="post">
      <button type="submit" name="commentId" value="{{key}}">Delete comment</button>
    </form>
  </div>
  {{/comments}}

  {{^comments}}
  <h3>No comments yet</h3>
  {{/comments}}
</div>

</body>
</html>
