{{#deletedBy}}
    {{#deletedVisible}}
        {{>comment_body_impl}}
    {{/deletedVisible}}
    {{^deletedVisible}}
        {{^children.isEmpty}}
            <div class="card no-gutters post">
                <div class="card-body py-1 text-secondary">
                    &lt;deleted post&gt;
                </div>
            </div>
        {{/children.isEmpty}}
    {{/deletedVisible}}
{{/deletedBy}}
{{^deletedBy}}
    {{>comment_body_impl}}
{{/deletedBy}}
