.img-thumbnail {
    height:300px;
    max-width:100%;
}

img, video {
  max-width: 100%;
}


@keyframes greyfade {
  from {
    background: lightgray;
  }
  to {
    background: transparent;
  }
}

.target-fade {
  animation: greyfade 2s;
}
