body {
  scroll-behavior: smooth;
}

.img-thumbnail {
    height:300px;
    max-width:100%;
}

img, video {
  max-width: 100%;
}


@keyframes greyfade {
  from {
    background: lightgray;
  }
  to {
    background: transparent;
  }
}

.box-shadow {
  -webkit-box-shadow: 8px 9px 5px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 8px 9px 5px -4px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 5px -5px rgba(0,0,0,0.75);
}

.box-shadow:focus {
  border-color: #007bff;
  -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0.0);
  -moz-box-shadow: 0 0 0 0 rgba(0,0,0,0.0);
  box-shadow: 0 0 0 0 rgba(0,0,0,0.0);
}

.childPost:focus {
  border-color: #cdc7b5;
  box-shadow: 0 0 0 0 rgba(0,0,0,0.0)
}

.childPost {
  -webkit-box-shadow: 8px 9px 5px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 8px 9px 5px -4px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 5px -5px rgba(0,0,0,0.75);
}

.target-fade {
  z-index: 100;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 3px #ccc;
}

.box {
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box::after {
  z-index: -1;
  top: 0;
  left: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.01, 1.01);
}

.customCheckbox input {
  display: none;
}
.customCheckbox input:checked + .trash-icon {
  color: Crimson	!important;
}

.threadline {
  width: 0.9em;
}

.threadline:hover .threadline-line, .threadline.collapsed .threadline-line {
  background: black;
  width: 3px;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.threadline-line {
  width: 2px;
  height: 100%;
  background: #89939b;
  transition: background .15s ease-in-out;
}

.button-poiner {
    cursor: pointer;
}
