<div class="{{$classes}}{{/classes}} unselectable" style="width: {{$size}}{{/size}}px; height: {{$size}}{{/size}}px;">
    <img class="rounded" alt="avatar" width="{{$size}}{{/size}}" src="{{avatarUrl}}">
</div>
