{{<base}}
    {{$content}}
        <div class="container">
            <div class="card">
                <div class="card-header text-center font-weight-bold">IP bans</div>
                <div class="card-body">
                    <div class="col-sm-8 mx-auto list-group">
                        <div class="row mb-4 justify-content-center">
                            <a href="/admin/ip-bans/new" class="col-3 btn btn-block btn-primary">Add</a>
                        </div>
                        {{#bans}}
                            {{>ip_ban_entry}}
                        {{/bans}}
                        {{#pages.tail}}
                            {{#bans.any}}
                                {{<ip_ban_entry}}{{$classes}}invisible{{/classes}}{{/ip_ban_entry}}
                            {{/bans.any}}
                        {{/pages.tail}}
                        {{>pagination}}
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
{{/base}}
